In [ ]:
# timesTables_num7 = 7
# range_1 = range(1, 10)
print(f"현재 구구단은 {timesTables_num7}단 입니다")

for i in range_1:
    print(f"{timesTables_num7} x {i} = {timesTables_num7 * i}")

현재 구구단은 7단 입니다
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [ ]:
# total = 0
# even_sum = 0
# odd_sum = 0

In [ ]:
# score = 70
# if score < 60:
#     grade_student1 = "F"
#     print(f"학생1의 학점은{grade_student1} 입니다")
# elif score >= 90:
#     grade_student1 = "A"
#     print(f"학생1의 학점은{grade_student1} 입니다")
# elif score >= 80:
#     grade_student1 = "B"
#     print(f"학생1의 학점은{grade_student1} 입니다")
# elif score >= 70:
#     grade_student1 = "C"
#     print(f"학생1의 학점은{grade_student1} 입니다")
# elif score >= 60:
#     grade_student1 = "D"  
#     print(f"학생1의 학점은{grade_student1} 입니다")

학생1의 학점은C입니다

In [ ]:
# number = 5
# if number % 2 == 0:
#     print("짝수")
# elif number % 2 != 0:
#     print("홀수")

홀수

In [ ]:
# timesTable_5 = 5
# range_5 = range(1,5)
# add_1 = 1
# for add_1 in range_5:
#     print(f"{timesTable_5} X {add_1} = {timesTable_5 * add_1}")
# print(type(range_5))

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
<class 'range'>

In [ ]:
total = 0
even_sum = 0
odd_sum = 0
n1 = 0
range_sum = list(range(1, 101))
for n1 in range_sum:
    total += n1
    if n1 % 2 == 0:
        even_sum += n1
    else:
        odd_sum += n1
print(f"total: {total}")
print(f"even_sum: {even_sum}")
print(f"odd_sum: {odd_sum}")